li, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

nav {
  text-align: center;
}

.dropdown-menu {
  display: inline-block;
  margin-bottom: 0;
}

.dropdown-menu li {
  float: left;
  color: #e298e1;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 17px;
}

.dropdown-menu li a {
    color: #e298e1;
}

.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
  padding: 0;
  margin: 0;
}

.sub-menu li {
  font-size: 14px;
  background: rgb(80, 80, 80);
  color: white;
  border-bottom: 2px solid black;
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.sub-menu li:last-child {
  border-bottom: 0;
}

.sub-menu li:hover {
  background: purple;
}

.dropdown-menu li:hover .sub-menu li {
  transform: scale(1);
}

.dropdown-menu li:hover .sub-menu {
  transform: scale(1);
}