body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

nav {
    display: flex;
    flex-grow: 1;
    height: 169px;
    left: 0;
    top: 0;
    background: #D9D9D9;
}

h1
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    text-align: center;
    color: #000000;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    align-items: stretch;
    padding: 20px;
}

.menu-category {
    flex-grow: 2;
    margin: 1% 1% 1% 1%;
    border: black solid 1px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    border-radius: 50px;
    background: goldenrod;
}

.nav-logo
{
    width: 180px;
    height: 167px;
    border: black solid 1px;
    margin: 0 15px 15px 0;
}