#role-page {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

#role-page h1 {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

#role-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3%;
}



.category-card {
    margin-bottom: 20px;
    padding: 5%;
}

.category-card:nth-child(3n - 1) {  /* deuxième colonne */
    border-left: black 2px solid;
}

.category-card:nth-child(3n) {   /* troisième colonne */
    border-left: black 2px solid;
}

.category-card h2 {
    text-align: center;
}

.role-item {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
span {
    margin-left: 10px;
}

.role-item button {
    align-content: end;
}

.role-item:hover {
    background-color: aliceblue;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6), 0 4px 4px rgba(0, 0, 0, 0.6);
}

button:hover {
    cursor: pointer;
}

.btn-red {
    background-color: rgba(255, 0, 0, 0.3);
    border: rgba(255, 0, 0, 0.3) outset;
    color: black;
}

.btn-green {
    background-color: rgba(82, 222, 43, 0.48);
    border: rgba(82, 222, 43, 0.48) outset;
    color: black;
}


@media (max-width: 768px) {
    /* version mobile soon (jamais lol)*/
}