<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# block pour ajouter un titre dans les autres pages #}
        <title>{% block title %}{% endblock %}</title>

        {# block pour ajouter un style (fichier css) #}
        {% block style %}
        {% endblock %}

        {# block pour ajouter un script (fichier js) #}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        {# inclusion de manière automatique de la navbar #}
        {% include "navbar.html.twig" %}

        {# block pour ajouter un corps, tout le reste de la page web #}
        {% block body %}{% endblock %}
    </body>
</html>
